<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bdlbsc.government.mapper.GovernmentInfoMapper">
  <resultMap id="BaseResultMap" type="com.bdlbsc.government.entity.GovernmentInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="names" jdbcType="VARCHAR" property="names" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="logo_url" jdbcType="VARCHAR" property="logoUrl" />
    <result column="administrative_division_area_code" jdbcType="VARCHAR" property="administrativeDivisionAreaCode" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="address_x" jdbcType="VARCHAR" property="addressX" />
    <result column="address_y" jdbcType="VARCHAR" property="addressY" />
    <result column="hourse_numbers" jdbcType="VARCHAR" property="hourseNumbers" />
    <result column="principle_name" jdbcType="VARCHAR" property="principleName" />
    <result column="principle_contact" jdbcType="VARCHAR" property="principleContact" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="is_delete" jdbcType="VARCHAR" property="isDelete" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="manager_name" jdbcType="VARCHAR" property="managerName" />
    <result column="manager_phone" jdbcType="VARCHAR" property="managerPhone" />
    <result column="province_id" jdbcType="VARCHAR" property="provinceId" />
    <result column="province_name" jdbcType="VARCHAR" property="provinceName" />
    <result column="city_id" jdbcType="VARCHAR" property="cityId" />
    <result column="city_name" jdbcType="VARCHAR" property="cityName" />
    <result column="county_id" jdbcType="VARCHAR" property="countyId" />
    <result column="county_name" jdbcType="VARCHAR" property="countyName" />
    <result column="street_id" jdbcType="VARCHAR" property="streetId" />
    <result column="street_name" jdbcType="VARCHAR" property="streetName" />
    <result column="community_id" jdbcType="VARCHAR" property="communityId" />
    <result column="community_name" jdbcType="VARCHAR" property="communityName" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from government_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.bdlbsc.government.entity.GovernmentInfo">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into government_info (parent_id, names, level, 
      logo_url, administrative_division_area_code, 
      address, address_x, address_y, 
      hourse_numbers, principle_name, principle_contact, 
      create_time, update_time, is_delete, 
      status, manager_name, manager_phone, 
      province_id, province_name, city_id, 
      city_name, county_id, county_name, 
      street_id, street_name, community_id, 
      community_name, account, password
      )
    values (#{parentId,jdbcType=BIGINT}, #{names,jdbcType=VARCHAR}, #{level,jdbcType=VARCHAR}, 
      #{logoUrl,jdbcType=VARCHAR}, #{administrativeDivisionAreaCode,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{addressX,jdbcType=VARCHAR}, #{addressY,jdbcType=VARCHAR}, 
      #{hourseNumbers,jdbcType=VARCHAR}, #{principleName,jdbcType=VARCHAR}, #{principleContact,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{managerName,jdbcType=VARCHAR}, #{managerPhone,jdbcType=VARCHAR}, 
      #{provinceId,jdbcType=VARCHAR}, #{provinceName,jdbcType=VARCHAR}, #{cityId,jdbcType=VARCHAR}, 
      #{cityName,jdbcType=VARCHAR}, #{countyId,jdbcType=VARCHAR}, #{countyName,jdbcType=VARCHAR}, 
      #{streetId,jdbcType=VARCHAR}, #{streetName,jdbcType=VARCHAR}, #{communityId,jdbcType=VARCHAR}, 
      #{communityName,jdbcType=VARCHAR}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.bdlbsc.government.entity.GovernmentInfo">
    update government_info
    set parent_id = #{parentId,jdbcType=BIGINT},
      names = #{names,jdbcType=VARCHAR},
      level = #{level,jdbcType=VARCHAR},
      logo_url = #{logoUrl,jdbcType=VARCHAR},
      administrative_division_area_code = #{administrativeDivisionAreaCode,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      address_x = #{addressX,jdbcType=VARCHAR},
      address_y = #{addressY,jdbcType=VARCHAR},
      hourse_numbers = #{hourseNumbers,jdbcType=VARCHAR},
      principle_name = #{principleName,jdbcType=VARCHAR},
      principle_contact = #{principleContact,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_delete = #{isDelete,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      manager_name = #{managerName,jdbcType=VARCHAR},
      manager_phone = #{managerPhone,jdbcType=VARCHAR},
      province_id = #{provinceId,jdbcType=VARCHAR},
      province_name = #{provinceName,jdbcType=VARCHAR},
      city_id = #{cityId,jdbcType=VARCHAR},
      city_name = #{cityName,jdbcType=VARCHAR},
      county_id = #{countyId,jdbcType=VARCHAR},
      county_name = #{countyName,jdbcType=VARCHAR},
      street_id = #{streetId,jdbcType=VARCHAR},
      street_name = #{streetName,jdbcType=VARCHAR},
      community_id = #{communityId,jdbcType=VARCHAR},
      community_name = #{communityName,jdbcType=VARCHAR},
      account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select id, parent_id, names, level, logo_url, administrative_division_area_code, 
    address, address_x, address_y, hourse_numbers, principle_name, principle_contact, 
    create_time, update_time, is_delete, status, manager_name, manager_phone, province_id, 
    province_name, city_id, city_name, county_id, county_name, street_id, street_name, 
    community_id, community_name, account, password
    from government_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, parent_id, names, level, logo_url, administrative_division_area_code, 
    address, address_x, address_y, hourse_numbers, principle_name, principle_contact, 
    create_time, update_time, is_delete, status, manager_name, manager_phone, province_id, 
    province_name, city_id, city_name, county_id, county_name, street_id, street_name, 
    community_id, community_name, account, password
    from government_info
  </select>
</mapper>